<ion-content [fullscreen]="true">
  <app-cabecalho title="Pokemon" subtitle="Veja os Pokemon"></app-cabecalho>
<app-menu>

</app-menu>

<ion-row class="ion-justify-content-center">

  <ion-col size="3">

    <img src="https://i.pinimg.com/736x/7b/50/ca/7b50caab603176adaeca277fda0744a9.jpg">

  </ion-col>

  <ion-col size="3">

    <img src="https://i.pinimg.com/736x/00/f1/82/00f1823603765c59d856bc7c16c434bc.jpg">

  </ion-col>

  <ion-col size="3">

    <img src="https://i.pinimg.com/736x/17/ab/85/17ab85c420fabd83cf6255b8463149bf.jpg">

  </ion-col>

</ion-row>
</ion-content>
