.cabecalho{
    height: 250px;
    background-image: url('https://i.pinimg.com/736x/82/6a/0c/826a0c229aee3b58add9ccb1032a32e5.jpg');
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    & h1{
        font-size: 64px;
        color: white;
        letter-spacing: 2px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 1px 1px 5px black;
    }
}
.cabecalho{
    height: 250px;
    background-color: rgb(#000000, $alpha:0.5);
    background-blend-mode: darken;
    background-image: url('https://i.pinimg.com/736x/82/6a/0c/826a0c229aee3b58add9ccb1032a32e5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1, & marquee{
        font-size: 64px;
        color: white;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 2px;
        box-shadow: 2px 2px 2px solid black;
        
    }
    & marquee{
        font-size: 21px;
        
    }
}