<ion-header>

  <ion-row>

    <ion-col size="2">

      <ion-item lines="none" routerLink="/home">

        <ion-thumbnail slot="start">
          <img src="https://cdn4.iconfinder.com/data/icons/gaming-27/300/gaming-fun-entertainment-freetime-pokemon-512.png">
        </ion-thumbnail >
        <ion-label>Página Inicial</ion-label>
      </ion-item>

    </ion-col>

    <ion-col size="2">

      <ion-item lines="none" routerLink="/pokemon">

        <ion-thumbnail slot="start">
          <img src="https://cdn3.iconfinder.com/data/icons/pokemon-go-3/512/pokemon_go_play_game_charcter-512.png">
        </ion-thumbnail>
        <ion-label>Pokemon</ion-label>
      </ion-item>

    </ion-col>

    <ion-col size="2">

      <ion-item lines="none" routerLink="/contato">

        <ion-thumbnail slot="start">
          <img src="https://cdn0.iconfinder.com/data/icons/pokemon-go-vol-2/135/_Mobile_Phone-128.png">
        </ion-thumbnail>
        <ion-label>Contato</ion-label>
      </ion-item>

    </ion-col>
  </ion-row>

</ion-header>